<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
    <h1>Travel Tracker</h1>
    <p>The number one spot for tracking your flights to and from four major destinations.</p>
    <a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD A FLIGHT</a><br>
    <a href="/flights" <%- title === 'Check Flights' ? 'class="active"' : '' %>>CHECK FLIGHT LIST</a>
    </div>
  </body>
</html>
