body {
  background-image: url("https://i.imgur.com/DXeK2fW.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  
}

.container {
  background-color: rgb(61, 61, 136);
  border-radius: 1rem;
  margin-top: 200px;
}

table {
  text-align: center;
  justify-content: center;
  background-color: rgb(51, 101, 141);
  border-radius: .5rem;
}

thead {
  background-color: grey;
}



